@model IEnumerable<WebDeveloper.Model.EmailAddress>
<h2>Email Address</h2>
<div>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EmailAddress1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.rowguid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModifiedDate)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.EmailAddress1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.rowguid)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModifiedDate)
                </td>
            </tr>
        }
    </table>
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>